<%- include('header') -%>
<h1>webtorrent-sever</h1>
<p>Download stuff from torrents over HTTP.</p>

<p>Preview a torrent's contents:</p>
<form action="/preview" method="get">
	<label>
		Location of torrent (magnet URI, HTTP .torrent file, <a href="https://github.com/webtorrent/webtorrent/blob/master/docs/api.md#clientaddtorrentid-opts-function-ontorrent-torrent-">etc.</a>)
		<input type="url" name="location" id="location">
	</label>
	<button type="submit">Submit</button>
</form>
<%- include('footer') -%>